#calc {
  height: 745px;
  background-color: white;
}

.pos {
  padding-top: 48px;
  background-image: url(../images/iphone.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 878px;
  width: 576px;
}

.calculator {
  background-color: black;
  width: 360px;
  height: 782px;
  border-radius: 30px;
}

.size button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  border: none;
}

.size button:hover {
  background-color: rgba(245, 245, 245, 0.693);
}

.size button.zerosize {
  width: 150px;
}

.main-color {
  color: black;
  background-color: gray;
}

.symbols {
  color: white;
  background-color: orange;
}

.numbers {
  color: white;
  background-color: rgba(128, 128, 128, 0.416);
}

.result {
  position: absolute;
  left: 750px;
  top: 400px;
}

.result span {
  background: transparent;
  color: white;
  font-size: 50px;
  overflow: hidden;
}

.equality {
  color: white;
  background-color: orange;
}
